.redux-group-tab h3 {
    font-size: 22px;
    margin-bottom: 10px;
    border-color: #AAA !important;
}

.schon-redux-section-title {
    margin-top: 35px;
    margin-bottom: 0;
    padding: 5px 10px;
    border-radius: 0;
    background-color: #333333;
    color: #ffffff;
    box-shadow: none;
    border: none;
}

.schon-redux-section-title p {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}
.schon-redux-section-title p:before,
.redux-group-tab h3:before,
.schon-redux-section-title p:after,
.redux-group-tab h3:after {
    display: inline-block;
    content:"-";
    margin-right: 10px;
}
.schon-redux-section-title p:after,
.redux-group-tab h3:after{
    margin-left: 10px;
}

#theme_options-footer-widget-layout .redux-image-select label {
    --line-height: 2.4em;
    margin-right: 10px !important;
    margin-bottom: 5px !important;
}
#theme_options-footer-widget-layout .redux-image-select img {
    border-width: 3px;
}

.body-background-pattern img{
    max-width: 80px;
    height: auto;
}

.image_select_1-2 li.redux-image-select {
    float: left;
    max-width: 46%;
    padding: 1% !important;
}

.image_select_1-3 li.redux-image-select {
    float: left;
    max-width: 31%;
    padding: 1% !important;
}


.redux-sidebar .redux-group-tab-link-a span.group_title {
    padding-left: 0;
}
.redux-sidebar .redux-group-tab-link-a i {
    display: none;
}

.redux-sidebar .el-refresh {
    display: none;
}

.redux-main .field-desc {
    color: #888;
}

.admin-color-fresh .switch-always-enabled .redux-container-switch .cb-disable.selected,
.wp-customizer .switch-always-enabled .redux-container-switch .cb-disable.selected {
    background-color: #0073aa !important;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#008bce), to(#0073aa)) !important;
    background-image: -moz-linear-gradient(top, #008bce, #0073aa) !important;
    background-image: -ms-linear-gradient(top, #008bce, #0073aa) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008bce), color-stop(100%, #0073aa)) !important;
    background-image: -webkit-linear-gradient(top, #008bce, #0073aa) !important;
    background-image: -o-linear-gradient(top, #008bce, #0073aa) !important;
    background-image: -linear-gradient(top, #008bce, #0073aa) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008bce', endColorstr='#0073aa', GradientType=0) !important;
    border-color: #003f5d !important;
    border-color: #005077 !important;
    -webkit-box-shadow: inset 0 1px 0 #00a7f6,0 1px 0 rgba(0,0,0,0.15) !important;
    box-shadow: inset 0 1px 0 #00a7f6,0 1px 0 rgba(0,0,0,0.15) !important;
}